<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        /* 将默认body 的margin值改为0，当内容出现滚动条则不包含margin部分 */
        html, body{background-color: #e7eaed; height:100%; margin: 0 !important;}
        html{font-family: Arial, Helvetica, sans-serif; font-size:16px;}
    </style>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body style="height:100%">
    <div id="app" class="container-fluid h-100">
        <div class="row pt-4">
            <div class="col input-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">GET</button>
                <ul class="dropdown-menu">
                    <li v-for="(item, index) in httpMethods"><a href="#" class="dropdown-item">{{item.title}}</a></li>
                </ul>
                <input type="text" class="form-control" placeholder="Enter Request URL">
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a href="#header" class="nav-link" role="tab" data-bs-toggle="tab">请求头</a></li>
                    <li class="nav-item"><a href="#params" class="nav-link active" role="tab" data-bs-toggle="tab">参数设置</a></li>
                    <li class="nav-item"><a href="#body" class="nav-link" role="tab" data-bs-toggle="tab">Body</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="tab-content">
                    <div id="header" class="container tab-pane fade">asdfasdf</div>
                    <div id="params" class="container tab-pane active">
                        <div class="row">
                            <div class="col">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td>Key</td>
                                            <td>Value</td>
                                            <td>Description</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in params">
                                            <td><input class="form-check-input" type="checkbox" value="something" :checked="item.state"></td>
                                            <td><input type="text" class="form-control" v-model="item.key"></td>
                                            <td><input type="text" class="form-control" v-model="item.value"></td>
                                            <td><input type="text" class="form-control" v-model="item.description"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="body" class="container tab-pane fade">
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../node_modules/vue/dist/vue.global.prod.js"></script>
    <script src="http.js"></script>
</body>
</html>