<link rel="stylesheet" href="../index.css">
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<div class="container-fluid" id="app">
    <div class="card bg-light text-gray">
        <div class="card-head text-muted">中文/ASCii互转</div>
    </div>
    <div class="row pt-2">
        <div class="col-1 text-end">中文：</div>
        <div class="col"><textarea class="form-control" style="resize:none;" v-model="strNative" cols="30" rows="10"></textarea></div>
    </div>
    <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col">
            <button type="button" class="btn btn-primary" @click="n2c">中文转ASCii⇩</button>
            <button type="button" class="btn btn-primary" style="margin-left:15px;" @click="c2n">ASCii转中文⇧</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-1 text-end">ASCii：</div>
        <div class="col"><textarea class="form-control" style="resize:none;" v-model="strAscii" cols="30" rows="10"></textarea></div>
    </div>
</div>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../node_modules/vue/dist/vue.global.prod.js"></script>
<script>
const app = {
    data() {
        return {
            strNative: '',
            strAscii: '',
        }
    },
    methods: {
        n2c() {
            let output = '';
            for (let i = 0; i < this.strNative.length; i++) {
                let c = this.strNative.charAt(i);
                let cc = this.strNative.charCodeAt(i);
                if (cc > 0xff)
                    output += "\\u" + toHex(cc >> 8) + toHex(cc & 0xff);
                else
                    output += c;
            }
            this.strAscii = output;
        },
        c2n() {
            let output = "";
            let posFrom = 0;
            let posTo = this.strAscii.indexOf("\\u", posFrom);
            while (posTo >= 0) {
                output += this.strAscii.substring(posFrom, posTo);
                output += toChar(this.strAscii.substr(posTo, 6));
                posFrom = posTo + 6;
                posTo = this.strAscii.indexOf("\\u", posFrom);
            }
            output += this.strAscii.substr(posFrom);
            this.strNative = output;
        }
    }
}
Vue.createApp(app).mount('#app');

let keyStr = "ABCDEFGHIJKLMNOP" +
    "QRSTUVWXYZabcdef" +
    "ghijklmnopqrstuv" +
    "wxyz0123456789+/" +
    "=";
let hexChars = "0123456789ABCDEF";

function toChar(str) {
    if (str.substr(0, 2) != "\\u") return str;

    let code = 0;
    for (let i = 2; i < str.length; i++) {
        let cc = str.charCodeAt(i);
        if (cc >= 0x30 && cc <= 0x39)
            cc = cc - 0x30;
        else if (cc >= 0x41 && cc <= 0x5A)
            cc = cc - 0x41 + 10;
        else if (cc >= 0x61 && cc <= 0x7A)
            cc = cc - 0x61 + 10;

        code <<= 4;
        code += cc;
    }
    if (code < 0xff) return str;
    return String.fromCharCode(code);
}

function toHex(n) {
    let nH = (n >> 4) & 0x0f;
    let nL = n & 0x0f;
    return hexChars.charAt(nH) + hexChars.charAt(nL);
}
</script>