<link rel="stylesheet" href="../index.css">
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<style>
    .txtFont{font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;; font-size:16px;}
</style>
<div class="container-fluid" id="app">
    <div class="row pt-2">
        <div class="col">
            <textarea class="form-control txtFont" style="resize:none" rows="20" id="txtJson" v-model="strJson"></textarea>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-end">
            <button type="button" class="btn btn-primary" @click="format">格式化JSON</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" @click="minify">压缩JSON</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" @click="copy('')">复制结果</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" @click="copy('xml')">复制为xml</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" @click="copy('yaml')">复制为yaml</button>
        </div>
    </div>
</div>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../node_modules/x2js/x2js.js"></script>
<script src="../lib/json.yaml.js"></script>
<script src="../lib/json.minify.js"></script>
<script src="../../node_modules/vue/dist/vue.global.prod.js"></script>
<script>
const app = {
    data() {
        return {
            strJson: '',
            operation: ''
        }
    },
    created() {
        document.addEventListener('keyup', (e) => {
            if (e.ctrlKey && e.shiftKey && (e.key == 'I' || e.key ==  'i')) {
                parent.devTools();
            }
            if (e.ctrlKey && (e.key == 'r' || e.key == 'R')) {
                parent.refresh();
            }
        });
    },
    mounted() {
        document.querySelector('#txtJson').focus();
        // document.querySelector('#txtJson').addEventListener('paste', (e) => {
        //     e.preventDefault();
        //     // console.info(this.strJson);
        //     navigator.clipboard.readText().then(text => {
        //         let content = text;
        //         let tmp = eval("(" + content + ")");
        //         // let tmp = eval(content)
        //         this.strJson = JSON.stringify(tmp, null, 4);
        //     });
        // });
    },
    methods: {
        format() {
            this.operation = 'format'
            let tmp = eval("(" + this.strJson + ")");
            this.strJson = JSON.stringify(tmp, null, 4);
        },
        minify() {
            this.operation = 'minify'
            this.strJson = JSON.minify(this.strJson)
        },
        copy(name) {
            if('' == name || undefined == name) {
                let title = this.operation == 'format' ? '格式化' : '压缩'
                navigator.clipboard.writeText(this.strJson)
                parent.notification({title: 'note', body: title + '结果内容已经复制到剪贴板'})
                return;
            }
            let jsonObj = eval("(" + this.strJson + ")"), re
            const handlers = {
                'xml': function(jsonObj) {
                    let x2js = new X2JS();
                    re = x2js.js2xml(jsonObj)
                },
                'yaml': function() {
                    let yaml = new YAML();
                    re = yaml.j2y(jsonObj)
                }
            }
            handlers[name](jsonObj)
            navigator.clipboard.writeText(re)
            parent.notification({title: 'note', body: `${name}格式内容已经复制到剪贴板`})
        }
    }
}
Vue.createApp(app).mount('#app');
</script>